astroid==3.0.1
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
dill==0.3.7
fonttools==4.44.3
idna==3.4
isort==5.12.0
kiwisolver==1.4.5
matplotlib==3.8.2
mccabe==0.7.0
Nuitka==1.9.1
numpy==1.26.2
ordered-set==4.1.0
packaging==23.2
Pillow==10.1.0
platformdirs==4.0.0
pycodestyle==2.11.1
pyflakes==3.1.0
pylint==3.0.2
pyparsing==3.1.1
python-dateutil==2.8.2
requests==2.31.0
six==1.16.0
tomlkit==0.12.3
urllib3==2.1.0
zstandard==0.22.0
